## FRED에서  API 경제데이터 가져오기

In [1]:
pip install fredapi

Requirement already satisfied: fredapi in c:\users\youngmin\anaconda3\lib\site-packages (0.4.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\youngmin\anaconda3\lib\site-packages (from fredapi) (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\youngmin\anaconda3\lib\site-packages (from pandas->fredapi) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\youngmin\anaconda3\lib\site-packages (from pandas->fredapi) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\youngmin\anaconda3\lib\site-packages (from pandas->fredapi) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\youngmin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->fredapi) (1.15.0)

In [2]:
# API 발급을 위해서 회원가입

In [3]:
from fredapi import Fred
fred = Fred(api_key='fd1643976833c89506544ff62efd7f70')
data = fred.get_series('GDP')

In [4]:
data = fred.get_series_first_release('GDP')
data.tail()

date
2020-01-01     21537.94
2020-04-01    19408.759
2020-07-01    21157.635
2020-10-01    21479.529
2021-01-01    22048.894
Name: value, dtype: object

In [5]:
data = fred.get_series_latest_release('GDP')
data.tail()

2020-01-01    21561.139
2020-04-01    19520.114
2020-07-01    21170.252
2020-10-01    21494.731
2021-01-01    22061.503
dtype: float64

In [6]:
fred.get_series_as_of_date('GDP', '6/1/2019')

     realtime_start       date      value
0        1992-12-22 1946-01-01      199.7
1        1996-01-19 1946-01-01        NaT
2        1997-05-07 1946-01-01      210.4
3        1999-10-28 1946-01-01        NaT
4        1992-12-22 1946-04-01      207.7
...             ...        ...        ...
2933     2018-12-21 2018-07-01  20658.204
2936     2019-02-28 2018-10-01  20891.367
2937     2019-03-28 2018-10-01   20865.14
2940     2019-04-26 2019-01-01  21062.691
2941     2019-05-30 2019-01-01  21048.839

[2906 rows x 3 columns]

In [7]:
df = fred.get_series_all_releases('GDP')
df.tail()

     realtime_start       date      value
2968     2021-02-25 2020-10-01  21487.896
2969     2021-03-25 2020-10-01  21494.731
2970     2021-04-29 2021-01-01  22048.894
2971     2021-05-27 2021-01-01  22061.025
2972     2021-06-24 2021-01-01  22061.503

In [8]:
from fredapi import Fred
fred = Fred(api_key='fd1643976833c89506544ff62efd7f70')
data = fred.get_series('DGS10')

In [9]:
data = fred.get_series_first_release('DGS10')
data.tail()

date
2021-07-16    1.31
2021-07-19    1.19
2021-07-20    1.23
2021-07-21     1.3
2021-07-22    1.27
Name: value, dtype: object

In [10]:
data = fred.get_series_first_release('DGS10')
data.tail(30)

date
2021-06-11    1.47
2021-06-14    1.51
2021-06-15    1.51
2021-06-16    1.57
2021-06-17    1.52
2021-06-18    1.45
2021-06-21     1.5
2021-06-22    1.48
2021-06-23     1.5
2021-06-24    1.49
2021-06-25    1.54
2021-06-28    1.49
2021-06-29    1.49
2021-06-30    1.45
2021-07-01    1.48
2021-07-02    1.44
2021-07-05     NaT
2021-07-06    1.37
2021-07-07    1.33
2021-07-08     1.3
2021-07-09    1.37
2021-07-12    1.38
2021-07-13    1.42
2021-07-14    1.37
2021-07-15    1.31
2021-07-16    1.31
2021-07-19    1.19
2021-07-20    1.23
2021-07-21     1.3
2021-07-22    1.27
Name: value, dtype: object