In [4]:
import pandas as pd
x = pd.Series (['보쌈','엽떡','파김치','피자'],index = ['족발','허니','짜장면','파스타'])
print(x) #시리즈이 장점 = 순서가 고정(딕셔너리랑 다름) 딕셔너리의 장점들을 가지고 있음 (인덱스들리 형성)
 #게다가 수정이 가능하다
print(sorted(x.index))

족발      보쌈
허니      엽떡
짜장면    파김치
파스타     피자
dtype: object
['족발', '짜장면', '파스타', '허니']

In [6]:
x = pd.Series([3,7,5,8])
print(sorted(x.values))

[3, 5, 7, 8]

In [9]:
x = pd.Series([3,7,5,8], index=['서울','부산','광주','인천'])
x.reindex(['부산','광주','인천','서울','제주'])

부산    7.0
광주    5.0
인천    8.0
서울    3.0
제주    NaN
dtype: float64

In [10]:
#수정은 간다
x['제주'] = 10
print(x) ##참고로 reindex는 그 당시에만 그 순서로만 나열, 기존의 데이터는 변화가 없다

서울     3
부산     7
광주     5
인천     8
제주    10
dtype: int64

In [11]:
#numpy처럼 덧셈,뺄셈, 곱셈 사칙연산 다 가능 (index끼리) 단, 한쪽에 없으면 nan으로 치환됨
#문자는?
x = pd.Series(['보쌈','엽떡','파김치','피자'], index = ['족발','허니','짜장면','파스타'])
y = pd.Series(['막국수','배떡','탕수육','피클'],index = ['족발','허니','짜장면','파스타'])
x+y

족발      보쌈막국수
허니       엽떡배떡
짜장면    파김치탕수육
파스타      피자피클
dtype: object

In [13]:
#unique() 데이터 구성 요소들을 표현할때 유리 (중복값 줄이기)
medal = [1,3,4,5,2,5,4,2,5,7,8]
x = pd.Series(medal)

print(pd.unique(x)) #문자도 된다

[1 3 4 5 2 7 8]

In [14]:
#슬라이싱은 기존과 동일. 단 불러오기 한 a 에서의 [0]은 찾을 수 없을 수 있다.
#이유는 원본의 순서와 동일, 즉 index 자체도 불러오기가 되기 때문

In [17]:
ary = [[1,2],[3,4],[5,6]]
data = pd.DataFrame(ary,columns = ['First', 'Second'], index = ['one', 'two','three'])

In [19]:
data.loc[:,'First']

one      1
two      3
three    5
Name: First, dtype: int64

In [22]:
ary = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20]]
data = pd.DataFrame(ary, columns = ['First','Second','Third','Fourth','Fifth'],index = ['one','two','three','four'])
data

       First  Second  Third  Fourth  Fifth
one        1       2      3       4      5
two        6       7      8       9     10
three     11      12     13      14     15
four      16      17     18      19     20

In [26]:
print(data.loc['two':'three'])
print(data.loc[:, 'Third':'Fifth'])
print(data.loc[['one','four'],('Second','Fourth','Fifth')])

       First  Second  Third  Fourth  Fifth
two        6       7      8       9     10
three     11      12     13      14     15
       Third  Fourth  Fifth
one        3       4      5
two        8       9     10
three     13      14     15
four      18      19     20
      Second  Fourth  Fifth
one        2       4      5
four      17      19     20

In [29]:
#tail & head 는 데이터프레임의 뒤 & 앞에서의 순서 데이터 불러오기

bools = [False, True, True, False]
print(data[bools])
print(data.Second[bools]) #True 값만 산출

       First  Second  Third  Fourth  Fifth
two        6       7      8       9     10
three     11      12     13      14     15
two       7
three    12
Name: Second, dtype: int64

max , min, 다 각각의 axis 별로 적용 가능.

In [ ]:
data = pd.open_csv('tita')