In [4]:
a = 5 ; b, c = 3, 7

In [5]:
print ( a+b, a*b, a/b, a//b, a%b, a**b)

8 15 1.6666666666666667 1 2 125

In [10]:
r = a+(b*c)
t = (a+b)*c
q = a+b*c

In [11]:
print (r)
print (t, q)

26
56 26

In [12]:
a += 3
print (a)
a *= 2
print (a)

8
16

In [21]:
#변수 정의 파트가 필요하다
# money, coin500, coin100, coin50, coin10 = 0,0,0,0,0

money = int(input("잔돈은 얼마입니까?"))
coin500 = money // 500
money %= 500
coin100 = money // 100
money %= 100
coin50 = money // 50
money %= 50
coin10 = money // 10
money %=  10


print ( "잔돈은\n500원짜리 %d개 \n100원짜리 %d개 \n50원짜리 %d개 \n10원짜리 %d개 입니다\n남은 돈은 %d원 입니다"
       %(coin500, coin100, coin50, coin10, money))

잔돈은 얼마입니까?1396
잔돈은
500원짜리 2개
100원짜리 3개
50원짜리 1개
10원짜리 4개 입니다
남은 돈은 6원 입니다

In [22]:
if(1234):print("!#")
if (0) : print ("afdshu")

!#

In [23]:
a, b= 10,7
print (a&b)

2

In [26]:
a = ord('A')
mask = 0x0F

print("%x & %x = %x" % (a, mask, a & mask))
print ("%X | %X = %X" %(a, mask, a|mask))

41 & f = 1
41 | F = 4F

In [33]:
#윤년 계산 법 4로 나눠지면 윤년, 근데 100으로도 나눠지면 아님, 근데 400으로 
#나눠지면 또 됨
y = int(input("몇년도 입니까?"))

if (y % 4 == 0) and not(y % 100 == 0) : k = True
if y % 400 == 0 : k = True

    
if k == True : 
    print ( "%d 년은 윤년입니다" %(y))
else : 
    print ( "%d 년은 윤년이 아닙니다" %(y))

몇년도 입니까?2100
2100 년은 윤년이 아닙니다

In [36]:
num, n16, n10, n8, n2 = 0,0,0,0,0

num1 = int(input('숫자'))
num2 = int(input('숫자'))
# 16
a = num1 + num2
b = num1 - num2
c = num1 * num2

print ("16진수는 + = %s  - = %s * = %s" %(hex(a),hex(b),hex(c)))

숫자6
숫자9
16진수는 + = 0xf  - = -0x3 * = 0x36

In [40]:
a = int(input("나이"))
if a < 19 :
    print("안돼")
else : 
    print ("됨")

나이1678
됨

In [38]:
a = 3
if a < 5 : 
    print ("a작")
if a > 5 :
    print ("a 큰")
if a == 3 :
    print (" a 3")

a작
 a 3

In [39]:
# 짝 홀 판독기

a= int(input('숫자'))

if a % 2 == 0 :
    print ( "%d는 짝수입니다" %(a))
else :
    print ( "홀수입니다")

숫자54
54는 짝수입니다

In [43]:
a = int(input())
if a > 50:
    if a < 100:
        print("t")
    else :
        print("ty")
else:
    print("tt")

30
tt

In [46]:
score = int(input())
if score > 0 and score < 100:
    if score > 75:
        if score > 80:
            if score > 90:
                print("a")
            else :
                print("b")
        else: print("c")
    else:
        print("d")
else : 
    print ("오류")

-39
오류

In [50]:
score = int(input())
if score >= 90:
    print ("A")
elif score >= 80:
    print ("B")
elif score >= 70:
    print ("C")
elif score >= 60:
    print ("D")
elif score >= 0:
    print ("F")
else : 
    print (오류)

150
A

In [57]:
score = input('등급은?')
price = int(input('가격은?'))
rate = ''

if score == 'A':
    price *= 0.7
elif score == 'B':
    price *= 0.7
elif score == 'C':
    price *= 0.92
elif score == 'Z':
    price += 5000
else : 
    print ("오류")
print ("등급은 %s 이고 판매가는 %d 이다"%(score, price))
print ('Done')

등급은?B
가격은?5000
등급은 B 이고 판매가는 3500 이다
Done

In [59]:
words = input()

if words == '+':
    a = int(input())
    b = int(input())
    result = a+b
else :
    result = eval(words)

print (result)

1*3
3

In [69]:
a,i = 0, 0
for i in range (11):
    a += i

print (a)

a, i =0,0

for i in range (21):
    if i % 2 == 1 :
        a += i
print (a)

55
100

In [70]:
a = 0
for i in range (0,101):
    if i % 3 == 0 and not i % 6==0:
        a += i
print (a)

867

In [72]:
sum = 0
for i in range (501,1001,2):
    sum += i
print(sum)

187500

In [77]:
a = int(input('입력값'))
sum = 0
for i in range (0,a+1):
    sum += i
    
print(sum)

입력값45
1035

In [78]:
summer = 0
x = int(input())
y = int(input())
z = int(input())

for i in range (x,y+1,z):
    summer += i
print(summer)

9
5678
3
5372325

In [83]:
i, j = 0,0
i = int(input())
for j in range (1,10,1):
    print ("%d X %d = %d" %(i,j,i*j) )

9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [88]:
for i in range(1,10) :
    for j in range (1,10):
        print( "%d * %d = %d" %(i,j,i*j), end =" ")
    print (' ')

1 * 1 = 1 1 * 2 = 2 1 * 3 = 3 1 * 4 = 4 1 * 5 = 5 1 * 6 = 6 1 * 7 = 7 1 * 8 = 8 1 * 9 = 9
2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81